.blockNav {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    width: 252px;
    height: 1147px;
    background: #FCFBFB;
    padding-top: 43px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    height: 50px;
    margin-left: 67px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1A1718;


}

.item.active {
    color: #F8346B;

}

/*.icon * {*/
/*    stroke: #F8346B;*/
/*    fill: #F8346B;*/
/*}*/
